/*===============
   Google Fonts
================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');


/*===============
   Defauls Css
================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F1FF;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
    margin: 36px 0px 21px;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px 30px 5px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    color: #562EFF;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
}
h3{

font-size: 18px;

line-height: 27px;

margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}
/*===================================
   Top Player and Blog section here
=====================================*/
.top-player-blog-section{

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.player{
    display: flex;
    margin-bottom: 29px;
    align-items: center;
} 
.player img{
    width: 56px;
}
.blog-container h2{
    
padding-top: 30px;
}

.blogs{

display: grid;

grid-template-columns: repeat(2 ,1fr);
}
.blog{
    display: flex;
    margin-bottom: 26px;
}
.thambnail img{
    width: 177px;
}
.content{
    width: 200px;
    margin-left: 16px;
}
.blog h3{

    font-size: 20px;
    margin-left: 0px;
    line-height: 34px;
}
.content a{
    text-decoration: none;
    color: #562eff;
}
.blog p{    
    font-size: 16px;   
    line-height: 24px;
}

/*===================================
   Top Player and Blog section here
=====================================*/

#course-section{

}
.all-course{

display: grid;

grid-template-columns: repeat(3,1fr);
}
.course-item{
    
}
.course-content img{
    width: 224px;
}
.course-content h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 17px 46px 5px 0px;
}
.course-content p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ED6B4F;
    padding-bottom: 18px;
}
.course-info{
    display: flex;
}
.course-info i{
    color: #FFC014;
    width: 12px;
    height: 11px;
    margin-right: 8px;
}
.course-info p{}
.course-info > i > .unfilled{
    color:#AEAEAE;
}
.course-info .course-time{}
.course-info .course-time span{}